:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color: rgba(255, 255, 255, 0.87); */
  background: #d1bb9e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #ff9209;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  font-family: "Noto Sans", sans-serif;
  color: #f5fccd;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  background-color: #aa5cfe;
  color: #d2e9fe;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #12486b;
  color: #d2e9fe;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn1 {
  background-color: #f5fccd;
}
.container {
  display: flex;
  alignitems: center;
}
.container:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.task-container {
  display: flex;
  align-items: center;
}
.tasks {
  textalign: left;
  padding: 5px;
  width: 500px;
  color: black;
  margin-right: 10px;
}
.btn-clear {
  background-color: #ff9130;
  border: none;
}

.space-container {
  display: flex;
  text-align: left;
  /* position: fixed; */
  top: 250px;
  max-height: 80vh;
}
.head-h2 {
  color: green;
  font-size: 30px;
  font-style: italic;
}
.par {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #f5fccd;
}

.changeColor {
  background-color: #646cff;
}

.changeColorRED {
  background-color: red;
}

.tasksWrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-top: 15px;
  color: white;
  margin-left: 65px;
}

.tasksTittle {
  margin-left: 50px;
}
.header {
  font-size: 40px;
  background-image: linear-gradient(90deg, #70142a, #2b296d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Noto Sans", sans-serif;
}
.forMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
.menuStyle {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  font-size: 16px;
  color: white !important;
}
.spanStyle {
  marginleft: 13px;
  margintop: 24px;
}
.styleItem1 {
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-size: 13px;
  width: 300px;
}
.styleItem2 {
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-size: 10px;
}
.linkStyle {
  color: #6b240c;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}
.deleteTwo {
  fontsize: 20px;
  marginleft: 10px;
  marginright: 10px;
}
.w-550 {
  width: 550px;
}
.pink-bg {
  background-color: pink;
  height: 20vh;
  display: flex;
  alignitems: center;
  justifycontent: center;
}
.green-bg {
  background-color: green;
  height: 20vh;
  display: flex;
  alignitems: center;
  justifycontent: center;
}
.th-border {
  border: solid 2px pink;
}
.p-5 {
  padding: 5px;
}
.p-3 {
  padding: 3px;
}
.bnt-psswrd {
  display: flex;
  justifycontent: space-around;
}
.w-80 {
  width: 80px;
}
.counterHW {
  color: blue;
  fontsize: 20px;
}
.counterButtonHW {
  padding: 5px;
}
.colorChange {
  display: flex;
  justifycontent: space-around;
}
.loginError {
  color: red;
  fontsize: 25px;
}
.character-btn {
  width: 300px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 20px;
}
.map-container {
  margin-bottom: 20px;
}
.info-cnt {
  padding: 10px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menufor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}